.map-container {
  width: 100%;
  height: 100%;
  flex: 1;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
}

.map-wrapper .ymaps-2-1-79-map,
.map-wrapper .ymaps-2-1-79-map-container {
  width: 100%;
  height: 100%;
}
